/* ========== Hero =========== */
.header .hero {
    height: 80vh;
    margin: 0 3rem;
}

.header .hero .row {
  height: 100%;
  background: url(../../images/bg.svg) center / cover no-repeat fixed;
  border-radius: 2rem;
  position: relative;
}

.header .hero .row .col {
    margin-left: 5rem;
}

.header .hero .row .col .subtitle {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.header .hero .row .col h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 13rem;
    line-height: 1;
}

.header .hero .row .col h1 .i {
    color: var(--primary-color);
    position: relative;
}

.header .hero .row .col h1 .i:before {
    content: 'ı';
    position: absolute;
    color: var(--black-color);
}

.header .hero .row .col p {
    font-size: 2rem;
    margin-bottom: 6rem;
}

.header .hero .row .col .btn {
    display: inline-block;
    padding: 1.5rem 6rem;
    border-radius: 1rem;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.8rem;
    background: var(--btn-gradient);
    box-shadow: var(--box-shadow-1);
}

.header .hero .row img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    animation: imgmove;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imgmove {
    0%{
        bottom: -15px;
    }
    100%{
        bottom: 15px;
    }
}

@media (max-width: 1600px) {
    .header .hero .row img {
        width: 35rem;
   }
}
@media (max-width: 1200px) {
    .header .hero .row .col h1 {
        font-size: 8rem;
   }
}
@media (max-width: 768px) {
    .header .hero .row .col {
        position: absolute;
        top: 10%;
        margin-left: 0;
   }
    .header .hero .row .col .subtitle {
        font-size: 1.6rem;
   }
    .header .hero .row .col h1 {
        font-size: 7rem;
   }
    .header .hero .row .col p {
        font-size: 1.6rem;
   }
    .header .hero .row .col .btn {
        padding: 1.2rem 4rem;
   }
    .header .hero .row img {
        width: 40rem;
   }
}
@media (max-width: 567px) {
    .header .hero {
        height: 100vh;
        margin: 0 1rem;
   }
    .header .hero .row .col .subtitle {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
   }
    .header .hero .row .col h1 {
        font-size: 7rem;
   }
    .header .hero .row .col p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
   }
    .header .hero .row .col .btn {
        padding: 1.2rem 4rem;
   }
    .header .hero .row img {
        width: 25rem;
   }
}
